body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8a5aa0; /* Roxo */
    color: #ff66b2; /* Rosa */
}

header {
    background-color: #682d63; /* Roxo escuro */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ff66b2; /* Rosa */
}

main {
    padding: 20px;
}

.conteudo {
    background-color: #fff; /* Branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #682d63; /* Roxo escuro */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #ff66b2; /* Rosa */
}
